<h2 class="text-secondary text-center">{{apiClass.endpointName}}</h2>


<div class="form-parent">


    <form>

        <div class="form-model">
            <mat-form-field>
                <mat-label>Post Endpoint Name</mat-label>
                <input type="text" matInput ngModel [(ngModel)]="apiClass.endpointName" name="{{apiClass.endpointName + apiClass.id + '-name-endpoint' + apiClass.endPointType}}">
            </mat-form-field>
        </div>

        <div class="form-model">
            <mat-form-field>
                <mat-label>Post Endpoint Target Model</mat-label>
                <mat-select  ngModel [(ngModel)]="apiClass.endpointTargetModel" name="{{apiClass.endpointName + apiClass.id + '-name-endpoint' + apiClass.endPointType}}">
                    <mat-option *ngFor="let target of tablesProductModels" [value]="target.tablename">{{target.tablename}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-model">
            <mat-form-field>
                <mat-label>Post Endpoint Path</mat-label>
                <input matInput ngModel [(ngModel)]="apiClass.endpointPathUrl" name="{{apiClass.endpointName + apiClass.id + '-name-endpoint-path-url' + apiClass.endPointType}}">
            </mat-form-field>
        </div>


        <div class="schemas">
            <h3 class="text-primary text-center">Post Endpoint Schemas</h3>
            <div class="schema">
                <div class="form-model">
                    <mat-form-field>
                        <mat-label>Schema Name</mat-label>
                        <input type="text" matInput ngModel [(ngModel)]="nextSchemaVariableName" name="{{apiClass.endpointName + apiClass.id + '-schema-endpoint' + apiClass.endPointType}}">
                    </mat-form-field>
                </div>



                <div class="form-model">
                    <mat-form-field>
                        <mat-label>Post Endpoint Target Schema</mat-label>
                        <mat-select  ngModel [(ngModel)]="nextSchemaName" name="{{apiClass.endpointName + apiClass.id + 'schema-name-' + apiClass.endPointType}}">
                            <mat-option *ngFor="let target of schemaList" [value]="target">{{target}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <button mat-flat-button color="primary" (click)="addSchema()">Add this schema</button>

                <div class="preview-schemas">
                    <h1 class="text-center">Post Endpoint Active Schemas</h1>
                    <div class="preview-schema" *ngFor="let s of schemaActiveList">
                        <h4 class="text-primary text-center">{{s.variableName}} : {{s.schemaName}}</h4>
                        <button mat-mini-fab (click)="deleteActiveSchema(s)">    
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>


                <div class="before-conditions-commit">

                    <h3 class="text-center">Post Endpoint Check Conditions Before create a instance</h3>
                    <div class="condition">

                        <form>

                            <div class="form-field">

                                <mat-form-field>
                                    <mat-label>DB Method Type</mat-label>
                                    <mat-select ngModel [(ngModel)]="nextFunctionName" name="{{apiClass.id+'-db-method-type-'}}">
                                        <mat-option *ngFor="let f of nextFunctionList;" [value]="f.functionName">{{f.functionName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-field" *ngIf="nextFunctionName == 'query'">

                                <mat-form-field>
                                    <mat-label>DB Method Type</mat-label>
                                    <mat-select ngModel [(ngModel)]="nextQueryModelName" name="{{apiClass.id+'-db-query-table-'}}">
                                        <mat-option *ngFor="let t of tablesProductModels;" [value]="t.tablename">{{t.tablename}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>



                            <div class="filter" *ngIf="nextFunctionName == 'filter'">


                                <div class="form-field" >

                                    <mat-form-field>
                                        <mat-label>DB Filter Column</mat-label>
                                        <mat-select ngModel [(ngModel)]="nextFilterColumnName" name="{{apiClass.id+'-db-query-column-'}}">
                                            <mat-option *ngFor="let p of currentModelProps;" [value]="p">{{p}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
    
    
                                </div>


                                <div class="form-field">
                                    <mat-form-field>
                                        <mat-label>DB Filter Operator</mat-label>
                                        <mat-select ngModel [(ngModel)]="nextFilterAction" name="{{apiClass.id+'-db-query-operator-'}}">
                                            <mat-option *ngFor="let a of filterActions;" [value]="a">{{a}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                

                                <div class="form-field">
                                    <mat-form-field>
                                        <mat-label>DB Compare Data</mat-label>
                                        <mat-select ngModel [(ngModel)]="nextFilterSchemaColumn" name="{{apiClass.id+'-db-compare-schama-operator-'}}">
                                            <mat-option *ngFor="let schemaName of schemasProps" [value]="schemaName">{{schemaName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


    
                            </div>


                            

                            <button mat-flat-button color="primary" (click)="nextFunction()">Next Function</button>

                        </form>
                    </div>
                    <button mat-flat-button color="warn" (click)="removeSelf()">Delete Post View</button>
                </div>



            </div>
        </div>


        <div class="created-objects">
            <h3 class="text-center text-primary">Create a database Objects</h3>

            <div class="form-field">
                <mat-form-field>
                    <mat-label>Post Create Model</mat-label>
                    <mat-select  ngModel [(ngModel)]="nextCreateObject" name="{{apiClass.endpointName + apiClass.id + '-create-object' + apiClass.endPointType}}">
                        <mat-option *ngFor="let target of tablesProductModels" [value]="target.tablename">{{target.tablename}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="form-field">
                <mat-form-field>
                    <mat-label>Schema</mat-label>
                    <mat-select  ngModel [(ngModel)]="nextSchemaObject" name="{{apiClass.endpointName + apiClass.id + '-create-object-schema' + apiClass.endPointType}}">
                        <mat-option *ngFor="let target of schemaActiveList" [value]="target.variableName">{{target.variableName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="form-model">
                <mat-form-field>
                    <mat-label>Object Temp Name</mat-label>
                    <input matInput ngModel [(ngModel)]="nextObjectTempName" name="{{apiClass.endpointName + apiClass.id + '-name-endpoint-temp-name' + apiClass.endPointType}}">
                </mat-form-field>
            </div>
    
            <button mat-flat-button color="primary" (click)="createNewObject()">Add</button>

        </div>


        <div class="return-model">
            <h4 class="text-center text-primary">Return Model</h4>

            <div class="form-field">
                <mat-form-field>
                    <mat-label>Return  Model</mat-label>
                    <mat-select  ngModel [(ngModel)]="returnModel" name="{{apiClass.endpointName + apiClass.id + '-name-endpoint-return-type' + apiClass.endPointType}}">
                        <mat-option *ngFor="let o of availableReturnObjects" [value]="o.tempName">{{o.tempName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button (click)="addReturnObject()" mat-flat-button color="primary">Add This to return </button>
        </div>






    </form>


    <div class="code-preview">
        <pre>
            <code [highlight]="wholeCode" [languages]="['python']"></code>
        </pre>
    </div>

    <button (click)="buildConditions()" mat-flat-button color="primary">Build</button>

</div>